.contact-section__container {

    /* Remove default margin */
    form,
    input,
    textarea {
        margin: 0;
        border: none;
        width: 100%;
        font-family: var(--font-gnu);
        white-space: pre;
    }

    .input__wrapper {
        height: 2rem;
    }

    textarea {
        height: 5rem;
    }

    button {
        // background-color: var(--foreground);
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
        color: var(--foreground);
        border-bottom: 0.5px solid var(--foreground);
        transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
        text-align: left;
        // font-weight: bold;

        &:hover {
            color: var(--background);
            background-color: var(--foreground);
        }
    }

    form,
    input,
    button {
        // font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        text-transform: uppercase;
    }

    /* Make sure border-box is used for sizing calculations */
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    /* Remove default padding */
    input,
    textarea {
        padding: 0;
        background: none;
        font-family: var(--font-cormorant);
        color: inherit;
        border-bottom: 0.5px solid var(--foreground);
        text-transform: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    /* Style placeholder text to match the rest of your form's typography */
    input::placeholder,
    textarea::placeholder {
        color: var(--foreground);
        /* Example color, adjust as needed */
        opacity: 1;
        /* Firefox fix for placeholder opacity */
    }

    /* Remove default focus and hover styles if you want a clean look */
    input:focus,
    textarea:focus {
        outline: none;
    }
}