.project-row__container {
    p {
        margin: 0;
    }

    a {
        text-decoration: underline;
    }

    ul {
        list-style-type: disc;
        margin-left: 1rem;
        padding: unset;
    }
}