@import "@/styles/_helpers.scss";

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    border-color: $white;
    color: $white;
}

button,
::placeholder {
    color: $white;
}

a,
p,
li,
ul,
form,
input,
textarea,
button,
::placeholder {
    font-family: var(--nhFont);
    font-size: 1.6rem;
}

::placeholder {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: unset;
    line-height: unset;
    position: relative;
    cursor: url("/pointer.svg") 0 0, pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}

input,
textarea {
    border: none;
    inset: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 1px;
}