@use '_helpers.scss';
@use '_fonts.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --viewport-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  transition: color 0.5s, background 0.5s;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section-title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  font-weight: 100;
}