@use './_helpers.scss' as *;
@use './_fonts.scss' as *;
@use './_mixins.scss' as *;
@use './_variables.module.scss' as *;
@use './_media-queries.scss' as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --viewport-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: color 0.5s, background 0.5s;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section-title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  font-weight: 100;
}

.container {
  box-sizing: border-box;
}

button {
  @include unstyle-button;
}

.page__wrapper {
  box-shadow: 1px 0 0 0px var(--foreground);
  position: relative;
  // overflow-y: scroll;
  // height: 100vh;
  transition: left 0.5s;
  left: 0;

  &.open {
    left: $nav-left-sm;

    @include md {
      left: $nav-left-md;
    }

    @include xl {
      left: $nav-left-lg;
    }

    .nav-bar__container {
      &.fixed {
        left: $nav-left-sm;

        @include md {
          left: $nav-left-md;
        }

        @include xl {
          left: $nav-left-lg;
        }
      }
    }
  }
}

.margin-bottom {
  margin-bottom: 5rem;
}