.video-header__wrapper {
    height: calc(var(--viewport-height) - 36px);
    margin-top: 36px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.video-header__container {
    width: 100%;
    height: auto;
    aspect-ratio: var(--video-aspect-ratio);
    position: relative;
    box-sizing: border-box;
    // border-radius: 5px;


    &.landing-video {
        top: 0;
        width: 100%;
        height: var(--viewport-height);
        overflow: hidden;
        object-fit: cover;
    }

    &.no-click {
        pointer-events: none;
    }

    &.crop-youtube-ui {
        overflow: hidden;

        iframe {
            transform: scale(1.175);
        }
    }

    &.cover-fit {
        position: relative;
        overflow: hidden;

        iframe {
            width: 100vw;
            height: var(--video-height);
            min-height: max(100vh, calc(100vw * var(--video-aspect-ratio-number)));
            min-width: var(--video-width);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.crop-youtube-ui {
            iframe {
                transform: translate(-50%, -50%) scale(1.6);
            }
        }
    }



    // &.is-youtube {
    //     :first-child {
    //         position: relative;
    //         width: calc(100vh * var(--video-aspect-ratio));
    //         height: calc(100vh * var(--video-aspect-ratio));
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }

    //     &.is-wide {
    //         :first-child {
    //             width: calc(100vw);
    //             height: calc(100vw);
    //             transform: translate(-50%, -50%);
    //         }
    //     }
    // }
}