.project-content__container {
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.project-nav__wrapper {
    .project-nav-title {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    a {
        border-bottom: 1px solid var(--foreground);
        font-size: 1rem;
        background-color: var(--background);
        border-radius: 0px;

        &:hover {
            color: var(--background);
            background-color: var(--foreground);
            border-radius: 5px;
        }
    }

    .next-project {
        text-align: right;
    }
}