@use "@/styles/_media-queries.scss" as *;

footer {
    position: relative;
}

.social-links__container {
    display: flex;
    gap: 0.5rem;

    .social-link {
        position: relative;
        border-bottom: 0.5px solid var(--foreground);

        &:hover {
            background-color: var(--foreground);
            color: var(--background);
        }

        font-size: 0.75rem;
        @include md {
            font-size: 1rem;
        }
    }
}

.copyright {
    font-size: 0.75rem;
    @include md {
        font-size: 1rem;

    }
}