@use "../../styles/_mixins.scss" as *;
@use "../../styles/_variables.module.scss" as *;
@use "../../styles/_media-queries.scss" as *;

.nav-bar__container {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0.5rem;
    @include border-bottom;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40);
    transition: color 0.5s, border-color 0.5s, left 0.5s;
    text-transform: uppercase;
    font-weight: bold;

    &.nav-light {
        color: var(--background);
        border-color: var(--background);
    }

    &.fixed {
        position: fixed;
    }

    .menu-button__wrapper {
        display: flex;
        // padding-right: 1rem;
        justify-content: flex-end;

        button {
            color: var(--foreground);
        }
    }

    .page-title-nav-text {
        text-transform: capitalize;
        font-weight: 300;
    }

    .menu-list__container {
        box-sizing: border-box;
        padding: 0.5rem;
        top: 0;
        position: fixed;
        width: $nav-width-sm;
        right: $nav-left-sm;
        color: var(--foreground);
        height: var(--viewport-height);
        overflow-y: auto;
        border-left: 0.5px solid var(--foreground);

        li {
            font-size: 1.6rem;
            font-weight: 100;
            border-bottom: 1px var(--foreground) solid;
            margin-bottom: 0.6rem;
            transition: background 0.2s, color 0.2s;
            color: var(--foreground);
            border-radius: 0px;

            a {
                width: 100%;
                display: block;
            }

            &:hover {
                background-color: var(--foreground);
                color: var(--background);
                border-radius: 2px;
            }
        }

        h4 {
            margin: 7px 0;
        }

        @include md {
            right: $nav-left-md;
            width: $nav-width-md;
        }

        @include xl {
            right: $nav-left-lg;
            width: $nav-width-lg;
        }
    }
}