@use "../../styles/_mixins.scss" as *;

.nav-bar__container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0.5rem;
    @include border-bottom;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(40);

    .menu-button__wrapper {
        display: flex;
        // padding-right: 1rem;
        justify-content: flex-end;
    }
}